[submodule "lsl/flow-lsl-interface"]
	path = lsl/flow-lsl-interface
	url = https://bitbucket.org/xianhaic/flow-liblsl-interface/

[submodule "ble/ble-polar-direct"]
	path = ble/ble-polar-direct
	url = https://bitbucket.org/rtwomey/ble-polar-direct/

[submodule "shadowsuit/sdk"]
	path = shadowsuit/sdk
	url = https://github.com/motion-workshop/sdk
