[submodule "lsl/flow-lsl-interface"]
	path = lsl/flow-lsl-interface
	url = https://bitbucket.org/xianhaic/flow-liblsl-interface/

[submodule "ble"]
	path = ble
	url = https://bitbucket.org/rtwomey/ble-polar-direct/
